<section class="border-box">
  <div class="blog-post-header">
    <h2>Create A New Blog Post</h2>
  </div>
  <div>
    <form class="new-post-form">
      <div>
        <label for="post-title">Blog Title</label>
        <input type="text" id="post-title" name="post-title" />
      </div>
      <div>
        <label for="post-message">Blog Message</label>
        <input id="post-message" name="post-message" />
      </div>
      <button type="submit" class="btn">Create</button>
    </form>
  </div>
</section>

{{#if posts.length}}
<section>
  <h2>Your Blog Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post }}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
      {{> comments post.comments}}


    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>