<section class="border-box">
  <div class="blog-post-header">
    <h2 class="h2">Create A New Blog Post</h2>
  </div>
  <div>
    <form class="new-post-form">
      <div class="medium-padding">
        <textarea placeholder="Enter Blog Post Title and Synopsis" type="text" class="h3 post-title"
          name="post-title"></textarea>
      </div>
      <div class="medium-padding">
        <textarea placeholder="Enter Blog Post Here" class="h3 post-message" name="post-message"></textarea>
      </div>
      <div class="center-button">
        <button type="submit" class="submit">
          <h2 class="h2">Submit Post to Your Blog</h2>
        </button>
      </div>
    </form>
  </div>
</section>

{{#if posts.length}}
<section>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post }}
      <div class="edit-post">
        <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post?</a>
      </div>
      {{> comments post.comments}}
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>