<section class="border-box">
  <div class="blog-post-header">
    <h2 class="h2">Create A New Blog Post</h2>
  </div>
  <div>
    <form class="new-post-form">
      <div class="post-message">
        
        <textarea class="post-message" placeholder="Enter Blog Post Title and Synopsis" type="text" id="post-title" name="post-title" >

        </textarea>
        {{!-- <input class="post-message" placeholder="Enter Blog Post Title and Synopsis" type="text" id="post-title" name="post-title" /> --}}
      </div>
      <div  class="post-message">

        <textarea placeholder="Enter Blog Post Here" id="post-message" name="post-message"></textarea>
        
      </div>
      <button type="submit" class="btn">Create</button>
    </form>
  </div>
</section>

{{#if posts.length}}
<section>
  <h2>Your Blog Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post }}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
      {{> comments post.comments}}


    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>