<section class="center">
  <form class="login-form user-form">
    <div>
      <label class="h2" for="email-login">eMail:</label>
      <input placeholder="eMail Address" class="user-input h3" type="text" id="email-login" />
    </div>
    <div>
      <label class="h2" for="password-login">Password:</label>
      <input placeholder="Password" class="user-input h3" type="password" id="password-login" />
    </div>
    <div>
      <button class="login-btn" type="submit">User login</button>
    </div>
  </form>

  <form class="signup-form user-form">
    <div>
      <label class="h2" for="username-signup">User Name:</label>
      <input placeholder="User Name" class="user-input h3" type="text" id="username-signup" />
    </div>
    <div>
      <label class="h2" for="email-signup">eMail:</label>
      <input placeholder="eMail Address" class="user-input h3" type="text" id="email-signup" />
    </div>
    <div>
      <label class="h2" for="password-signup">Password:</label>
      <input placeholder="Password" class="user-input h3" type="password" id="password-signup" />
    </div>
    <div>
      <button class="login-btn" type="submit">User Signup</button>
    </div>
  </form>
</section>

<script src="/javascript/login.js"></script>