* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Start MISC styles */
body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(181, 238, 186);
  align-items: content;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.header {
  padding: 20px;
  background-color: rgb(46, 25, 3);
  display: flex;
  justify-content: space-between;
}

.medium-padding {
  padding: 10px;
}

a {
  text-decoration: none;
  font-size: 25px;
  color: rgb(181, 238, 186);
  font-weight: bold;
  transition: color .1s;
}

a:hover {
  color: #3486eb;
}

ol {
  list-style-type: none;
}
/* End MISC styles */


/* Start font styles */
.h1 {
  font-size: 50px;
  color: rgb(181, 238, 186);
}

.h2 {
  font-size: 20px;
  color: rgb(181, 238, 186);
}

.h3 {
  font-size: 25px;
  color: rgb(46, 25, 3);
}

.h4 {
  font-size: 20px;
  color: rgb(46, 25, 3);
}
/* End font styles */


/* Start text box and container styles */
.post-header {
  display: flex;
  justify-content: space-between;
}

.border-box {
  border: solid rgb(46, 25, 3) 4px;
  border-radius: 15px;
}

.blog-post-header {
  padding: 10px;
  background: rgb(46, 25, 3);
  display: flex;
  justify-content: space-between;
}

.post-message {
  height: 300px;
}

.post-title {
  height: 100px;
}

.edit-post {
  background: rgb(46, 25, 3);
  width: 150px;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 15px;
}

.post {
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 150%;
}

.new-post-form input {
  width: 100%;
}

.user-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  width: 40%;
  padding: 10px;
  background-color: rgb(46, 25, 3);
  margin-bottom: 15px;
}

.user-input {
  width: 100%;
  background-color: rgb(245, 255, 239);
}
/* End text box and container styles */


/* Start button styles */
.center-button {
  display: flex;
  justify-content: space-evenly;
  border: 0;
  padding: 1%;
  font-weight: bold;
  border-radius: 15px;
  align-items: center;
}

.submit {
  display: flex;
  justify-content: center;
  background: rgb(46, 25, 3);
  border: 0;
  padding: 1%;
  font-weight: bold;
  cursor: pointer;
  border-radius: 15px;
  align-items: center;
}

.submit:hover {
  background: rgb(65, 35, 3);
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: rgb(181, 238, 186);
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.login-btn {
  border: none;
  margin-top: 5px;
  border-radius: 30px;
  padding: 5px;
  font-size: 20px;
  background-color: rgb(181, 238, 186);
}

.comment-vote {
  display: flex;
  justify-content: center;
  background: rgb(46, 25, 3);
  border: 0;
  padding: 1%;
  font-weight: bold;
  cursor: pointer;
  border-radius: 15px;
  align-items: center;
}

.comment-vote:hover {
  background-color: rgb(65, 35, 3);
}

.login-btn:hover {
  background-color: rgb(231, 248, 232);
}

.center {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
/* End button styles */


/* Start textarea styles */
textarea, input {
  padding: .5%;
  border-radius: 15px;
  border: 2px solid rgb(65, 35, 3);
}

textarea:focus, input:focus {
  outline: none;
  border: 2px solid #83bdff;
}

textarea {
  min-width: 100%;
  min-height: 200px;
  background-color: rgb(245, 255, 239);
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  font-size: 20px;
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  font-size: 20px;
  color: rgb(46, 25, 3);
  background-color: rgb(181, 238, 186);
}

.comment:nth-child(even) {
  border-radius: 15px;
  font-size: 20px;
  color: rgb(181, 238, 186);
  background: rgb(46, 25, 3);
}

.comment .meta {
  margin-bottom: 10px;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}







